name: spdx

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  check-spdx-headers:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: enarx/spdx@master
      with:
        licenses: MIT
